<div class="container-fluid">

    <div class="row bg-secondary d-flex align-items-center">
        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <h1 class="fs-54">Seja bem vindo!</h1>
                    <h5 class="fs-18">Expresse aqui os seus pensamentos e opiniões!</h5>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-6">
                    <button class="btn btn-light me-2">Nova Postagem</button>
                    <a href="" class="btn btn-outline-light">Ver Postagens</a>
                </div>
            </div>

        </div>
        <div class="col-md-6">

        </div>
    </div>

</div>

<div class="container mb-5 mt-5">

    <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link text-secondary fw-bold active" id="home-tab" data-bs-toggle="tab" data-bs-target="#todasPostagens" type="button"
                role="tab" aria-controls="todasPostagens" aria-selected="true">Todas as Postagens</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link text-secondary fw-bold" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                role="tab" aria-controls="profile" aria-selected="false">Minhas Postagens</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link text-secondary fw-bold" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
                role="tab" aria-controls="contact" aria-selected="false">Postagens por Tema</button>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="todasPostagens-tab">
            Todas as postagens
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
    </div>

</div>