<div class="container-fluid">

    <div class="row bg-secondary d-flex align-items-center">
        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <h1 class="fs-54">Seja bem vindo!</h1>
                    <h5 class="fs-18">Expresse aqui os seus pensamentos e opiniões!</h5>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-6">
                    <button class="btn btn-light me-2" data-bs-toggle="modal" data-bs-target="#newposts"> Nova
                        Postagem</button>
                    <a href="#postagens" class="btn btn-outline-light">Ver Postagens</a>
                </div>
            </div>

        </div>
        <div class="col-md-6">

        </div>
    </div>

</div>

<div class="container mb-5 mt-5" id="postagens">

    <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link text-secondary fw-bold active" id="todasPostagens-tab" data-bs-toggle="tab"
                data-bs-target="#todasPostagens" type="button" role="tab" aria-controls="todasPostagens"
                aria-selected="true">Todas as Postagens</button>
        </li>
        <li class="nav-item" role="presentation">
            <button (click)="getUserById()" class="nav-link text-secondary fw-bold" id="minhasPostagens-tab" data-bs-toggle="tab"
                data-bs-target="#minhasPostagens" type="button" role="tab" aria-controls="minhasPostagens"
                aria-selected="false">Minhas Postagens</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link text-secondary fw-bold" id="postagemTema-tab" data-bs-toggle="tab"
                data-bs-target="#postagemTema" type="button" role="tab" aria-controls="postagemTema"
                aria-selected="false">Postagens por tema</button>
        </li>
    </ul>

    <div class="tab-content mt-5" id="myTabContent">
        <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="todasPostagens-tab">

            <div class="card-columns">
                <div *ngFor="let p of postList" class="card text-center">
                    <div class="card-body">
                        <img src="{{p.pic}}" class="card-img-top" alt="...">
                        <h5 class="card-title">{{p.titulo}}</h5>
                        <p class="card-text">{{p.texto}}</p>
                        <p class="card-text"><small class="text-muted">{{p.data | date: "dd/MM/yyyy"}}</small></p>
                        <p class="card-text"><small class="text-muted">by: {{p.usuario.nome}}</small></p>

                        <a [routerLink]="['/post-edit', p.id]" class="text-info me-3" href="">Editar</a>
                        <a [routerLink]="['/post-delete', p.id]" class="text-danger" href="">Apagar</a>

                    </div>
                </div>
            </div>


        </div>
        <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="minhasPostagens-tab">

            <div class="card-columns">
                <div *ngFor="let p of user.postagem" class="card text-center">
                    <div class="card-body">
                        <img src="{{p.pic}}" class="card-img-top" alt="...">
                        <h5 class="card-title">{{p.titulo}}</h5>
                        <p class="card-text">{{p.texto}}</p>
                        <p class="card-text"><small class="text-muted">{{p.data | date: "dd/MM/yyyy"}}</small></p>
                        <p class="card-text"><small class="text-muted">by: {{user.nome}}</small></p>

                    </div>
                </div>
            </div>

        </div>

        <div class="tab-pane fade" id="postagemTema" role="tabpanel" aria-labelledby="postagemTema-tab">

            <div *ngFor="let t of themeList" class="card-columns">
                <div *ngFor="let p of t.postagem" class="card text-center">
                    <div class="card-body">
                        <img src="{{p.pic}}" class="card-img-top" alt="...">
                        <h5 class="card-title">{{p.titulo}}</h5>
                        <p class="card-text">{{p.texto}}</p>
                        <p class="card-text"><small class="text-muted">{{p.data | date: "dd/MM/yyyy"}}</small></p>
                        <p class="card-text"><small class="text-muted">by: {{p.usuario.nome}}</small></p>

                    </div>
                </div>

        </div>
    </div>

</div>



<div id="newposts" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nova Postagem</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="form-control">

                    <label for="pic" style="margin-top: 20px;">Foto</label>
                    <input [(ngModel)]="post.pic" type="text" class="form-control" id="pic"
                        placeholder="Insira o link para a foto do post">

                    <label for="titulo" style="margin-top: 20px;">Título</label>
                    <input [(ngModel)]="post.titulo" type="text" class="form-control" id="titulo"
                        placeholder="Digite o título">

                    <label for="texto" style="margin-top: 20px;">Texto</label>
                    <textarea [(ngModel)]="post.texto" class="form-control" name="texto" id="texto" rows="3"></textarea>

                    <label for="tema" style="margin-top: 20px;">Escolha um tema ou <a data-bs-dismiss="modal"
                            routerLink="/theme">cadastre um novo</a>:</label>
                    <select [(ngModel)]="themeId" (change)="getThemeById()" class="form-control" name="tema" id="tema">
                        <option *ngFor="let t of themeList" value="{{t.id}}">
                            {{t.descricao}}
                        </option>
                    </select>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button (click)="postPost()" type="button" data-bs-dismiss="modal"
                    class="btn btn-success">Publicar</button>
            </div>
        </div>
    </div>
</div>